meta_image_ad_stealer.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Facebook Ad Thief Form",
        "formDescription": "Upload your product image and submit a facebook ad library url for the ads you want to clone/spin for your produc.t",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Facebook Ad Library Url",
              "placeholder": "https://www.facebook.com/",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Product Image",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1456,
        -120
      ],
      "id": "42daaa45-8282-44c7-8884-46bd3b21fae0",
      "name": "form_trigger",
      "webhookId": "739f6e4b-c69f-4baf-b6fe-f671f8ba6279"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3248,
        -24
      ],
      "id": "2205df88-c693-4cf4-8cb2-218145a05f59",
      "name": "iterate_ads"
    },
    {
      "parameters": {
        "url": "={{ $node['iterate_ads'].json.snapshot.cards.first().original_image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3472,
        -96
      ],
      "id": "9b2b29c9-c860-4e3f-80df-64641c2d897d",
      "name": "download_image"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4144,
        24
      ],
      "id": "d7359a37-3b11-49e9-a790-09bb190a3717",
      "name": "convert_ad_image_to_base64"
    },
    {
      "parameters": {
        "name": "={{ $node['iterate_ads'].json.snapshot.cards.first().title }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JioPuDdW_ZA5nGaV8Nu0ovw0OhdOgnN3",
          "mode": "list",
          "cachedResultName": "facebook ads scraper",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JioPuDdW_ZA5nGaV8Nu0ovw0OhdOgnN3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3696,
        -192
      ],
      "id": "ac7c187e-1d2b-496a-aec4-8162266545c4",
      "name": "upload_ad_reference",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NUwWnWfdv7UNhLMR",
          "name": "Google Drive account anmol"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4368,
        -96
      ],
      "id": "131f96ba-7d97-4a61-8022-87f1f157f6ea",
      "name": "merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4592,
        -96
      ],
      "id": "4ef72484-4491-4f7e-b3ff-507d3386bb00",
      "name": "aggregate"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "image_result",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        6832,
        -216
      ],
      "id": "ff03c108-f2c7-48bb-98c9-c64d72dbc5fc",
      "name": "get_image"
    },
    {
      "parameters": {
        "name": "=Cloned Ad #{{ $runIndex + 1 }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JioPuDdW_ZA5nGaV8Nu0ovw0OhdOgnN3",
          "mode": "list",
          "cachedResultName": "facebook ads scraper",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JioPuDdW_ZA5nGaV8Nu0ovw0OhdOgnN3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        7056,
        -24
      ],
      "id": "1e0ff2d1-bf6a-4610-b652-5ffd659e5a79",
      "name": "upload_image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NUwWnWfdv7UNhLMR",
          "name": "Google Drive account anmol"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Your_Product_Image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1680,
        -24
      ],
      "id": "b67d9ffe-8098-454f-841b-1b7bf8ddbfd9",
      "name": "convert_product_image_to_base64"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fcf84d7-4a17-4899-9bea-a7d3b6027acd",
              "name": "prompt",
              "value": "You are an expert in image I need your help to write a perfect prompt that is going to help me generate/edit an image for my company's product. Attached to this request are two images: 1. Product picture of (our product) 2. Reference image of the competitor's ad we're trying to replicate In your analysis of these images, I want you to come up with a image prompt on to replace in the competitor's ad with our branding and all the other things that need to be changed to make it not look copied. We need to replicate the same style used on the competitor ad, but it should always be our packaging that's included. Some tricky edge cases you need to handle are: Partial branding items of the text. Please check for all placements in the ad that need to be replaced. You need to figure out how to write a specific prompt that is going to detail this image generator how to replace it and create the ad for our product. The end result we're going for is a new ad that promotes our product Soul-shirt. Make sure your prompt includes changes that need to be changed on the text of the image like labels and calls to action. Keep the ad copy the same EXCEPT for switching to Think deeply about the prompt you are going to write.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4816,
        -96
      ],
      "id": "4efdff2c-a7e9-4d92-ab31-c8732bb8562c",
      "name": "build_prompt"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "XtaWFhbtfxyzqrFmd",
          "mode": "list",
          "cachedResultName": "Facebook Ad Library Scraper (curious_coder/facebook-ads-library-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/XtaWFhbtfxyzqrFmd/input"
        },
        "customBody": "={\n    \"limitPerSource\": 20,\n    \"scrapeAdDetails\": false,\n    \"scrapePageAds.activeStatus\": \"all\",\n    \"scrapePageAds.countryCode\": \"ALL\",\n    \"urls\": [\n        {\n            \"url\": \"{{ $('form_trigger').item.json['Facebook Ad Library Url'] }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "memory": 512
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2800,
        -24
      ],
      "id": "d83f065c-5d01-4fcf-bbe3-62f1e1689334",
      "name": "scrape_ads",
      "credentials": {
        "apifyApi": {
          "id": "IkmCnzfxp2PUmhtp",
          "name": "Apify Anmol Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ $json.prompt }}. Always write in the end of the prompt to replace the product with the product linked in the image. Eg: Replace the t shirt with the tshirt in the image.\n\nRESPOND IN PLAIN TEXT AND NOT MARKDOWN. Keep the prompt short, but don't miss anything.\n\nRESPOND WITH JUST THE PROMPT AND NO UNECESSARY EXPLAINER TEXT",
        "imageUrls": "={{ $('Get ad template image').item.json.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        5040,
        -96
      ],
      "id": "10570547-8e5c-403c-a4c4-b869379ea112",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "BVvoQpK5AUx5q2ds",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {
          "transferOwnership": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3920,
        -192
      ],
      "id": "aaa0c1fd-b984-4c65-a017-91ad1c92bb34",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NUwWnWfdv7UNhLMR",
          "name": "Google Drive account anmol"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once (JavaScript)\n// Input: previous node items via $input.all()\n// Output: all non-video ads; adds imageUrl if found, but does not drop items without images.\n\nfunction get(obj, path, def = undefined) {\n  if (!obj || typeof path !== 'string') return def;\n  return path.split('.').reduce((acc, k) => (acc && acc[k] !== undefined ? acc[k] : undefined), obj) ?? def;\n}\n\nfunction isHttpUrl(u) {\n  return typeof u === 'string' && /^https?:\\/\\/\\S+/i.test(u);\n}\n\nfunction isVideoByFormat(ad) {\n  const fmt = (get(ad, 'snapshot.display_format', '') || '').toString().toUpperCase();\n  return fmt === 'VIDEO';\n}\n\n// Try to pick an image URL if present, but don't require it\nfunction pickImageUrl(ad) {\n  // Common spots in Ad Library snapshots\n  const candidates = []\n    .concat((get(ad, 'snapshot.images') || []).map(i => i?.url).filter(Boolean))\n    .concat(get(ad, 'snapshot.thumbnail_url') || [])\n    .concat(get(ad, 'creative.image_url') || [])\n    .concat(get(ad, 'image_url') || [])\n    .concat(get(ad, 'thumbnail_url') || []);\n\n  const urls = Array.isArray(candidates) ? candidates : [candidates];\n  for (const u of urls) {\n    if (isHttpUrl(u) && !/^data:/i.test(u)) return u;\n  }\n  return null;\n}\n\nconst inputItems = $input.all();\nconst out = [];\n\nfor (const item of inputItems) {\n  const ad = item.json || item;\n\n  // Keep only non-video by display_format\n  if (isVideoByFormat(ad)) continue;\n\n  const imageUrl = pickImageUrl(ad); // may be null\n  out.push({\n    json: {\n      ...ad,\n      imageUrl, // optional; present when detectable\n    },\n  });\n}\n\n// If none found, emit a clear status so you see why\nif (out.length === 0) {\n  return [{\n    json: {\n      error: 'NO_NON_VIDEO_ADS',\n      message: 'All items are video by snapshot.display_format; no non-video ads in this batch.',\n      sourceCount: inputItems.length,\n    },\n  }];\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        -24
      ],
      "id": "4391606c-bc36-48f9-9844-f66c915843db",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/playground/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6d99001fd50f9876e6a72ebe370cf15c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana-edit\",\n  \"input\": {\n    \"prompt\": \"{{ $json.cleanedPrompt }}\",\n    \"image_urls\": [\n      \"{{ $('aggregate').item.json.data[0].url }}, {{ $('Get ad template image2').item.json.url }}\n\"\n    ],\n    \"output_format\": \"png\",\n    \"image_size\": \"1:1\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5488,
        -96
      ],
      "id": "8280a1d6-e828-4fc9-8813-9ff1c86c952e",
      "name": "create image for ad",
      "credentials": {
        "httpBearerAuth": {
          "id": "Hont8L2gYmYwwTZv",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/ddh6nwmfq/image/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $('upload_ad_reference').item.json.webContentLink }}"
            },
            {
              "name": "upload_preset",
              "value": "unsigned_preset"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4144,
        -192
      ],
      "id": "611ec061-559a-4efd-9aad-50bae8981a70",
      "name": "Get ad template image",
      "credentials": {
        "httpBasicAuth": {
          "id": "55Y2co4tfsEV52gX",
          "name": "cloudinary anmol"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// filename: n8n-clean-prompt-with-quote-toggle.js\n\n/**\n * Clean a raw text/prompt for downstream nodes.\n * - Normalizes CRLF/CR -> \\n\n * - Optionally escapes quotes or removes them\n * - Optionally converts real newlines to literal \\n (JSON-safe mode)\n * - Collapses consecutive spaces/tabs\n * - Trims\n *\n * Configure these toggles for your use-case:\n * - jsonSafe: true  → convert real newlines to literal \\n and escape quotes/backslashes\n * - removeQuotes: true → remove all \" (and optionally ') characters from the text\n */\nfunction cleanPrompt(rawText, { jsonSafe = true, removeQuotes = false } = {}) {\n  if (typeof rawText !== 'string') return '';\n\n  // 1) Normalize newlines\n  let text = rawText.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n\n  // 2) Escape or remove quotes/backslashes depending on mode\n  if (removeQuotes) {\n    // Remove both double and single quotes\n    text = text.replace(/[\"']/g, '');\n    // Still escape backslashes to avoid accidental sequences in some contexts\n    text = text.replace(/\\\\/g, '\\\\\\\\');\n  } else {\n    // Escape backslashes and double quotes\n    text = text.replace(/\\\\/g, '\\\\\\\\');\n    text = text.replace(/\"/g, '\\\\\"');\n  }\n\n  // 3) Newlines handling\n  if (jsonSafe) {\n    // Convert real newlines to literal \\n for single-line JSON-safe payloads\n    text = text.replace(/\\n/g, '\\\\n');\n  } else {\n    // Keep real newlines for human-readable multi-line content\n    // Do nothing here\n  }\n\n  // 4) Collapse excessive spaces/tabs and trim\n  text = text.replace(/[ \\t]{2,}/g, ' ').trim();\n\n  return text;\n}\n\n// Choose behavior here:\n// - jsonSafe: true gives single-line with literal \\n\n// - removeQuotes: true removes \" and ' entirely\nconst jsonSafe = true;        // set to false to keep real line breaks\nconst removeQuotes = true;    // set to true to remove quotes instead of escaping\n\nconst output = $input.all().map(item => {\n  const rawPrompt =\n    item.json?.content?.parts?.[0]?.text ??\n    item.json?.prompt ??\n    '';\n\n  const cleanedPrompt = cleanPrompt(rawPrompt, { jsonSafe, removeQuotes });\n\n  return {\n    json: {\n      ...item.json,\n      cleanedPrompt,\n      cleanedMode: jsonSafe ? 'json-safe' : 'readable',\n      quotesHandled: removeQuotes ? 'removed' : 'escaped',\n    },\n  };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5264,
        -96
      ],
      "id": "2e64c13b-61d6-4568-9064-ca9b60725773",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6d99001fd50f9876e6a72ebe370cf15c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5936,
        -96
      ],
      "id": "18e0ea38-1808-4fa9-9e6b-c6db98e82db4",
      "name": "get created image17"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f3e12bd-1ce9-400d-a21a-53063d534087",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "waiting",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a60d5d53-f9a3-4190-b00c-62e1b06791b3",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "generating",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6160,
        -168
      ],
      "id": "37e0b2db-b359-42e3-8c3f-97bfaeca25ed",
      "name": "If22"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6384,
        0
      ],
      "id": "b8c1e74b-0f5a-41f0-8baf-21f4e3ea9b43",
      "name": "Wait37",
      "webhookId": "cd8c4128-ef52-4a96-8ed0-63f8ab97947c"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5712,
        -96
      ],
      "id": "016b7dfc-5f79-4029-ac8c-1a32c6601e26",
      "name": "Wait14",
      "webhookId": "0cd33b5c-101d-448c-b00c-e79c4c2d4352"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6608,
        -216
      ],
      "id": "b367aef2-c1ce-47f7-8ce9-3e7309d945a8",
      "name": "url to binary"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  // Step 1: grab the nested string\n  const raw = item.json.data?.resultJson;\n  if (!raw) {\n    return { json: { error: \"resultJson missing\", availableKeys: Object.keys(item.json) } };\n  }\n\n  // Step 2: parse it into an object\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    return { json: { error: \"JSON.parse failed\", raw } };\n  }\n\n  // Step 3: extract the first URL\n  const url = parsed.resultUrls?.[0] || \"\";\n\n  return {\n    json: {\n      url\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6384,
        -216
      ],
      "id": "f6474648-0d8e-4917-b02e-2e70a2c84dd2",
      "name": "url extractor19"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/ddh6nwmfq/image/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $('Upload file').item.json.webContentLink }}"
            },
            {
              "name": "upload_preset",
              "value": "unsigned_preset"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2576,
        -24
      ],
      "id": "f87ec1fd-9cc1-4dac-9e81-42f2306781ea",
      "name": "Get ad template image2",
      "credentials": {
        "httpBasicAuth": {
          "id": "55Y2co4tfsEV52gX",
          "name": "cloudinary anmol"
        }
      }
    },
    {
      "parameters": {
        "name": "product_image",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1JioPuDdW_ZA5nGaV8Nu0ovw0OhdOgnN3",
          "mode": "list",
          "cachedResultName": "facebook ads scraper",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1JioPuDdW_ZA5nGaV8Nu0ovw0OhdOgnN3"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2128,
        -24
      ],
      "id": "8c543b59-1eb2-4d20-9478-db528c64f93f",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NUwWnWfdv7UNhLMR",
          "name": "Google Drive account anmol"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2352,
        -24
      ],
      "id": "81d9bf17-0b4a-4f1a-921f-d053d41405df",
      "name": "Share file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NUwWnWfdv7UNhLMR",
          "name": "Google Drive account anmol"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1456,
        72
      ],
      "id": "e7be296f-5491-466a-aee5-f2438070ca33",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1904,
        -24
      ],
      "id": "26a2953d-0ef9-4468-ad67-3b5aa32f5f99",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "form_trigger": {
      "main": [
        [
          {
            "node": "convert_product_image_to_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iterate_ads": {
      "main": [
        [],
        [
          {
            "node": "download_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_image": {
      "main": [
        [
          {
            "node": "upload_ad_reference",
            "type": "main",
            "index": 0
          },
          {
            "node": "convert_ad_image_to_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_ad_image_to_base64": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "upload_ad_reference": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "build_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_image": {
      "main": [
        [
          {
            "node": "upload_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_image": {
      "main": [
        [
          {
            "node": "iterate_ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_product_image_to_base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_prompt": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_ads": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Get ad template image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "iterate_ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create image for ad": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ad template image": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "create image for ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get created image17": {
      "main": [
        [
          {
            "node": "If22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If22": {
      "main": [
        [
          {
            "node": "Wait37",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "url extractor19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait37": {
      "main": [
        [
          {
            "node": "get created image17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "get created image17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url to binary": {
      "main": [
        [
          {
            "node": "get_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url extractor19": {
      "main": [
        [
          {
            "node": "url to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ad template image2": {
      "main": [
        [
          {
            "node": "scrape_ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file1": {
      "main": [
        [
          {
            "node": "Get ad template image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "convert_product_image_to_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d5060035da1ac148c5b2d3ed9879dffa23154fe6976553f55ae65cc32f34ebe1"
  }
}